<launch>
  <arg name="name_1" default="camera_1" doc="The name of the camera"/>
  <arg name="frame_id_1" default="$(arg name_1)" doc="The frame id of the camera"/>
  <arg name="ip_1" default="192.168.74.23" doc="The IP for the camera to connect to"/>
  <arg name="camera_info_url_1" default="file://$(find avt_vimba_camera)/calibrations/calibration_example_stereo_1.yaml"/>

  <arg name="guid" default="" doc="The GUID for the camera to connect to"/>
  <arg name="camera_info_url" default="file://$(find avt_vimba_camera)/calibrations/calibration_example.yaml"/>
  <arg name="stereo" default="true"/>
  <arg name="use_measurement_time" default="true"/>

  <arg name="name_2" default="camera_2" doc="The name of the camera"/>
  <arg name="ip_2" default="192.168.74.24" doc="The IP for the camera to connect to"/>
  <arg name="frame_id_2" default="$(arg name_2)" doc="The frame id of the camera"/>
  <arg name="camera_info_url_2" default="file://$(find avt_vimba_camera)/calibrations/calibration_example_stereo_2.yaml"/>


  <!-- Acquisition -->
  <arg name="acquisition_mode" default="Continuous"/>
  <arg name="acquisition_rate" default="1"/>

  <!-- Exposure -->
  <arg name="exposure" default="10000"/>
  <arg name="exposure_auto" default="Continuous"/>
  <arg name="exposure_auto_alg" default="FitRange"/>
  <arg name="exposure_auto_tol" default="5"/>
  <arg name="exposure_auto_max" default="28000"/>
  <arg name="exposure_auto_min" default="1000"/>
  <arg name="exposure_auto_outliers" default="0"/>
  <arg name="exposure_auto_rate" default="25"/>
  <arg name="exposure_auto_target" default="75"/>
 
  <!-- Trigger -->
  <arg name="trigger_source" default="FixedRate"/>
  <arg name="trigger_mode" default="On"/>
  <arg name="trigger_selector" default="FrameStart"/>
  <arg name="trigger_activation" default="RisingEdge"/>
  <arg name="trigger_delay" default="0.0"/>

  <!-- Gain -->
  <arg name="gain" default="0"/>
  <arg name="gain_auto" default="Continuous"/>
  <arg name="gain_auto_adjust_tol" default="5"/>
  <arg name="gain_auto_max" default="32"/>
  <arg name="gain_auto_min" default="0"/>
  <arg name="gain_auto_outliers" default="0"/>
  <arg name="gain_auto_rate" default="50"/>
  <arg name="gain_auto_target" default="50"/>

  <!-- White Balance -->  
  <arg name="balance_ratio_abs" default="1.0"/>
  <arg name="balance_ratio_selector" default="Red"/>
  <arg name="whitebalance_auto" default="Off"/>
  <arg name="whitebalance_auto_tol" default="5"/>
  <arg name="whitebalance_auto_rate" default="100"/>

  <!-- Binning and Decimation -->
  <arg name="binning_x" default="1"/>
  <arg name="binning_y" default="1"/>
  <arg name="decimation_x" default="1"/>
  <arg name="decimation_y" default="1"/>

  <!-- ROI -->
  <!-- <arg name="width" default="2064"/>
  <arg name="height" default="1544"/> -->
  <arg name="width" default="800"/>
  <arg name="height" default="600"/>
  <arg name="offset_x" default="0"/>
  <arg name="offset_y" default="0"/>

  <!-- Pixel Format -->
  <arg name="pixel_format" default="RGB8Packed"/>

  <!-- Bandwidth -->
  <arg name="stream_bytes_per_second" default="45000000"/>

  <!-- PTP Synchronization -->
  <arg name="ptp_mode" default="Slave"/>
  <!-- <arg name="ptp_acquisition_gate_time" default="0"/> -->

  <!-- GPIO -->
  <arg name="sync_in_selector" default="SyncIn1"/>
  <arg name="sync_out_polarity" default="Normal"/>
  <arg name="sync_out_selector" default="SyncOut1"/>
  <arg name="sync_out_source" default="GPO"/>

  <!-- USB GPIO -->
  <!-- <arg name="line_selector" default="Line0"/>
  <arg name="line_mode" default="Input"/> -->

  <!-- Iris -->
  <!-- <arg name="iris_auto_target" default="50"/>
  <arg name="iris_mode" default="Continuous"/>
  <arg name="iris_video_level_min" default="110"/>
  <arg name="iris_video_level_max" default="110"/> -->

  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
    <arg name="name" value="$(arg name_1)"/>
    <arg name="frame_id" value="$(arg frame_id_1)"/>
    <arg name="ip" value="$(arg ip_1)"/>

    <arg name="guid" value="$(arg guid)"/>
    <arg name="camera_info_url" value="$(arg camera_info_url_1)"/>
    <arg name="use_measurement_time" value="$(arg use_measurement_time)"/>
    <arg name="stereo" value="$(arg stereo)"/>

    <arg name="acquisition_mode" value="$(arg acquisition_mode)"/>
    <arg name="acquisition_rate" value="$(arg acquisition_rate)"/>

    <arg name="trigger_source" value="$(arg trigger_source)"/>
    <arg name="trigger_mode" value="$(arg trigger_mode)"/>
    <arg name="trigger_selector" value="$(arg trigger_selector)"/>
    <arg name="trigger_activation" value="$(arg trigger_activation)"/>
    <arg name="trigger_delay" value="$(arg trigger_delay)"/>

    <arg name="exposure" value="$(arg exposure)"/>
    <arg name="exposure_auto" value="$(arg exposure_auto)"/>
    <arg name="exposure_auto_alg" value="$(arg exposure_auto_alg)"/>
    <arg name="exposure_auto_tol" value="$(arg exposure_auto_tol)"/>
    <arg name="exposure_auto_max" value="$(arg exposure_auto_max)"/>
    <arg name="exposure_auto_min" value="$(arg exposure_auto_min)"/>
    <arg name="exposure_auto_outliers" value="$(arg exposure_auto_outliers)"/>
    <arg name="exposure_auto_rate" value="$(arg exposure_auto_rate)"/>
    <arg name="exposure_auto_target" value="$(arg exposure_auto_target)"/>

    <arg name="gain" value="$(arg gain)"/>
    <arg name="gain_auto" value="$(arg gain_auto)"/>
    <arg name="gain_auto_adjust_tol" value="$(arg gain_auto_adjust_tol)"/>
    <arg name="gain_auto_max" value="$(arg gain_auto_max)"/>
    <arg name="gain_auto_min" value="$(arg gain_auto_min)"/>
    <arg name="gain_auto_outliers" value="$(arg gain_auto_outliers)"/>
    <arg name="gain_auto_rate" value="$(arg gain_auto_rate)"/>
    <arg name="gain_auto_target" value="$(arg gain_auto_target)"/>

    <arg name="balance_ratio_abs" value="$(arg balance_ratio_abs)"/>
    <arg name="balance_ratio_selector" value="$(arg balance_ratio_selector)"/>
    <arg name="whitebalance_auto" value="$(arg whitebalance_auto)"/>
    <arg name="whitebalance_auto_tol" value="$(arg whitebalance_auto_tol)"/>
    <arg name="whitebalance_auto_rate" value="$(arg whitebalance_auto_rate)"/>

    <arg name="binning_x" value="$(arg binning_x)"/>
    <arg name="binning_y" value="$(arg binning_y)"/>
    <arg name="decimation_x" value="$(arg decimation_x)"/>
    <arg name="decimation_y" value="$(arg decimation_y)"/>

    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="offset_x" value="$(arg offset_x)"/>
    <arg name="offset_y" value="$(arg offset_y)"/>

    <arg name="pixel_format" value="$(arg pixel_format)"/>

    <arg name="stream_bytes_per_second" value="$(arg stream_bytes_per_second)"/>

    <!--< arg name="stereo" value="true"/> -->
    <arg name="ptp_mode" value="$(arg ptp_mode)"/>

    <arg name="sync_in_selector" value="$(arg sync_in_selector)"/>
    <arg name="sync_out_polarity" value="$(arg sync_out_polarity)"/>
    <arg name="sync_out_selector" value="$(arg sync_out_selector)"/>
    <arg name="sync_out_source" value="$(arg sync_out_source)"/>

    <!-- <arg name="line_selector" value="$(arg line_selector)"/>
    <arg name="line_mode" value="$(arg line_mode)"/> -->

    <!-- <arg name="iris_auto_target" value="$(arg iris_auto_target)"/>
    <arg name="iris_mode" value="$(arg iris_mode)"/>
    <arg name="iris_video_level_min" value="$(arg iris_video_level_min)"/>
    <arg name="iris_video_level_max" value="$(arg iris_video_level_max)"/>
   -->
  </include>

  <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
    <arg name="name" value="$(arg name_2)"/>
    <arg name="frame_id" value="$(arg frame_id_2)"/>
    <arg name="ip" value="$(arg ip_2)"/>

    <arg name="guid" value="$(arg guid)"/>
    <arg name="camera_info_url" value="$(arg camera_info_url_2)"/>
    <arg name="use_measurement_time" value="$(arg use_measurement_time)"/>
    <arg name="stereo" value="$(arg stereo)"/>
    
    <arg name="acquisition_mode" value="$(arg acquisition_mode)"/>
    <arg name="acquisition_rate" value="$(arg acquisition_rate)"/>

    <arg name="trigger_source" value="$(arg trigger_source)"/>
    <arg name="trigger_mode" value="$(arg trigger_mode)"/>
    <arg name="trigger_selector" value="$(arg trigger_selector)"/>
    <arg name="trigger_activation" value="$(arg trigger_activation)"/>
    <arg name="trigger_delay" value="$(arg trigger_delay)"/>

    <arg name="exposure" value="$(arg exposure)"/>
    <arg name="exposure_auto" value="$(arg exposure_auto)"/>
    <arg name="exposure_auto_alg" value="$(arg exposure_auto_alg)"/>
    <arg name="exposure_auto_tol" value="$(arg exposure_auto_tol)"/>
    <arg name="exposure_auto_max" value="$(arg exposure_auto_max)"/>
    <arg name="exposure_auto_min" value="$(arg exposure_auto_min)"/>
    <arg name="exposure_auto_outliers" value="$(arg exposure_auto_outliers)"/>
    <arg name="exposure_auto_rate" value="$(arg exposure_auto_rate)"/>
    <arg name="exposure_auto_target" value="$(arg exposure_auto_target)"/>

    <arg name="gain" value="$(arg gain)"/>
    <arg name="gain_auto" value="$(arg gain_auto)"/>
    <arg name="gain_auto_adjust_tol" value="$(arg gain_auto_adjust_tol)"/>
    <arg name="gain_auto_max" value="$(arg gain_auto_max)"/>
    <arg name="gain_auto_min" value="$(arg gain_auto_min)"/>
    <arg name="gain_auto_outliers" value="$(arg gain_auto_outliers)"/>
    <arg name="gain_auto_rate" value="$(arg gain_auto_rate)"/>
    <arg name="gain_auto_target" value="$(arg gain_auto_target)"/>

    <arg name="balance_ratio_abs" value="$(arg balance_ratio_abs)"/>
    <arg name="balance_ratio_selector" value="$(arg balance_ratio_selector)"/>
    <arg name="whitebalance_auto" value="$(arg whitebalance_auto)"/>
    <arg name="whitebalance_auto_tol" value="$(arg whitebalance_auto_tol)"/>
    <arg name="whitebalance_auto_rate" value="$(arg whitebalance_auto_rate)"/>

    <arg name="binning_x" value="$(arg binning_x)"/>
    <arg name="binning_y" value="$(arg binning_y)"/>
    <arg name="decimation_x" value="$(arg decimation_x)"/>
    <arg name="decimation_y" value="$(arg decimation_y)"/>

    <arg name="width" value="$(arg width)"/>
    <arg name="height" value="$(arg height)"/>
    <arg name="offset_x" value="$(arg offset_x)"/>
    <arg name="offset_y" value="$(arg offset_y)"/>

    <arg name="pixel_format" value="$(arg pixel_format)"/>

    <arg name="stream_bytes_per_second" value="$(arg stream_bytes_per_second)"/>

    <!--< arg name="stereo" value="true"/> -->
    <arg name="ptp_mode" value="$(arg ptp_mode)"/>

    <arg name="sync_in_selector" value="$(arg sync_in_selector)"/>
    <arg name="sync_out_polarity" value="$(arg sync_out_polarity)"/>
    <arg name="sync_out_selector" value="$(arg sync_out_selector)"/>
    <arg name="sync_out_source" value="$(arg sync_out_source)"/>

    <!-- <arg name="line_selector" value="$(arg line_selector)"/>
    <arg name="line_mode" value="$(arg line_mode)"/> -->

    <!-- <arg name="iris_auto_target" value="$(arg iris_auto_target)"/>
    <arg name="iris_mode" value="$(arg iris_mode)"/>
    <arg name="iris_video_level_min" value="$(arg iris_video_level_min)"/>
    <arg name="iris_video_level_max" value="$(arg iris_video_level_max)"/> -->
  
  </include>
</launch>
